---
import '../global.css';
// import Lottie from './Lottie';
// import target from '../assets/target2.json';
// import cube from '../assets/cube.json';
// import pingpong from '../assets/pingpong.json';
---

<div class='container'>
  <h5 class='tag'>Benefits for you</h5>
  <h3 class='subhead'>Benefits to subscribers</h3>
  <div class='card'>
    <div style={{ display: 'flex', alignItems: 'center', gap: '20px' }}>
      <h5 class='num'>1</h5>
      <h4>Stay ahead of competition</h4>
    </div>
    <p>
      With our newsletter, you'll stay ahead of the competition by discovering high-traffic,
      low-difficulty keywords before they do.
    </p>
  </div>
  <div class='card'>
    <div style={{ display: 'flex', alignItems: 'center', gap: '20px' }}>
      <h5 class='num'>2</h5>
      <h4>Save time & effort on keyword research</h4>
    </div>
    <p>
      With just a few minutes per week, stay up to date on trending keywords by reading Keyword IQ's
      constantly updated selection of keywords in our weekly email.
    </p>
  </div>
  <div class='card'>
    <div style={{ display: 'flex', alignItems: 'center', gap: '20px' }}>
      <h5 class='num'>3</h5>
      <h4>Improve your search engine ranking</h4>
    </div>
    <p>
      We deliver the keywords you need to improve your search engine ranking and drive more organic
      traffic to your site.
    </p>
  </div>
</div>

<style>
  .container {
    width: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
  }

  .card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    text-align: left;
    box-shadow: 3px 3px 5px 2px rgba(93, 93, 93, 0.2);
    margin-bottom: 30px;
  }

  h4 {
    margin-bottom: 0;
  }

  .num {
    background-color: #ff0066;
    padding: 15px 20px;
    border-radius: 50%;
    width: fit-content;
    color: #fff;
    margin: 0;
  }

  p {
    margin-bottom: 0;
  }

  @media (max-width: 1030px) {
    .container {
      width: 100%;
      padding: 50px;
      flex-direction: column;
      gap: 30px;
    }
  }

  @media (max-width: 750px) {
    .container {
      padding: 15px;
    }
  }
</style>
