---
import { Icon } from 'astro-icon';
import emailTemplate from '../assets/template.svg';
import blob from '../assets/blog.svg';
import icon from '../assets/right-arrow.svg';

import Form from './Form';
---

<div class:list={['top', 'container']}>
  <div class='left'>
    <h5 class='tag'>Keyword Insight Newsletter</h5>
    <h1>
      Stay <span class='text-anim2'>current</span> with trending <span class='underline'
        >keywords</span
      >
    </h1>
    <h4>
      High search volume <Icon
        class='inline-img'
        style={{
          color: '#FF0066',
          width: '1em',
          display: 'inline',
          position: 'relative',
          top: '0.15em',
        }}
        pack='ic'
        name='round-manage-search'
      />
      , low competition <Icon
        class='inline-img'
        style={{
          color: '#FF0066',
          width: '1em',
          display: 'inline',
          position: 'relative',
          top: '0.15em',
        }}
        pack='ph'
        name='eye-closed-bold'
      />
      keywords delivered to your inbox for free
    </h4>
    <form
      data-netlify='true'
      netlify-honeypot
      data-netlify-honeypot='bot-field'
      name='email-submission'
      method='POST'
      class='email-input'
    >
      <p class='hidden'>
        <label>
          Don’t fill this out if you’re human: <input name='bot-field' />
        </label>
      </p>
      <input type='email' placeholder='Your email address' />
      <input type='hidden' name='form-name' value='email-submission' />
      <button type='submit'>Join <img class='iconStyle' src={icon} /></button>
    </form>
    <!-- <Form client:only='react' /> -->
  </div>
  <div class='right'>
    <img id='blob' src={blob} />
    <img id='template' style={{}} src={emailTemplate} />
  </div>
</div>

<style>
  .hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .inline-img {
    width: 1em;
    display: inline;
    position: relative;
    top: 0.15em;
  }

  .iconStyle {
    width: 0.8em;
    display: inline;
    position: relative;
    top: 0.1em;
    color: #fff;
    marginleft: 5px;
  }

  .underline {
    position: relative;
    z-index: 1;
  }
  .underline:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0.5rem;
    width: 100%;
    height: 14px;
    transform: skew(-12deg);
    background: rgba(238, 111, 87, 0.5);
    z-index: -1;
  }

  .left {
    flex: 1.2 1 0;
  }
  .right {
    flex: 1 1 0;
    position: relative;
    margin-top: 3rem;
    width: 70%;
    margin-bottom: 10rem;
  }
  .top {
  }
  .container {
    /* display: flex;
			flex-direction: column; */
    width: 600px;
    margin: 0 auto;
    margin-top: 70px;

    /* gap: 100px; */

    text-align: center;
    margin-bottom: 100px;
  }
  #blob {
    z-index: -1;
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-30%);
  }
  #template {
    /* rotate: 3deg; */
    animation: floating 3s ease-in-out infinite;
    z-index: 10;
    filter: drop-shadow(5px 6px 11px #b1b1b1);
    width: 80%;
    position: relative;
    top: 40px;
    left: 20%;
    border-radius: '15px';
    width: '80%';
  }
  .email-input {
    border: 2px solid #ff0066;
    border-radius: 15px;
    display: flex;
    padding: 5px;
  }
  input {
    padding: 10px;
    font-size: 15px;
    margin-right: 10px;
    border: none;
    outline: none;
    flex-grow: 9;
  }
  button {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #ff0066;
    color: white;
    font-size: 15px;
    flex-grow: 1;
    cursor: pointer;
  }

  .text-anim {
    background-size: 200% 100% !important;
    background: linear-gradient(to right, #ff0066, #ff0066 50%, #000 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorSlide 6s infinite;
    background-position: 100%;
  }

  .text-anim2 {
    background-size: 300% 100% !important;
    background: linear-gradient(
      to right,
      #ff0066 0,
      #ff0066 33%,
      #000 33%,
      #000 66%,
      #ff0066 66%,
      #ff0066 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slide 3s infinite;
    background-position: 0 100%;
  }

  @keyframes slide {
    /* 50% {
      background-position: 100% 100%;
    } */
    100% {
      background-position: 100% 100%;
    }
  }

  @keyframes colorSlide {
    40% {
      background-position: 0 100%;
    }
    80% {
      background-position: 0 100%;
    }
    90% {
      background-position: 100%;
    }
    100% {
      background-position: 100%;
    }
  }

  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }

  @media (max-width: 630px) {
    .container {
      width: 100%;
      padding: 10px;
      flex-direction: column;
      text-align: center;
      gap: 30px;
      margin-top: 100px;
    }
    h1 {
      font-size: 50px;
    }

    h4 {
      font-size: 25px;
    }
    #template {
      rotate: 0deg;
      width: 100%;
    }
    #blob {
      transform: translate(0, 0);
      display: none;
    }

    .right {
      margin-bottom: 5rem;
    }
    .people {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 50px;
      gap: 0px;
    }
    .underline:after {
      height: 10px;
    }
  }
</style>
